#
# Requirements
# src: https://gist.github.com/Siltaar/9441a525d3a580311035fa2f3f431baa
# 
# In Terminal enter:
# cd ~/virtualenv
# sudo pip3 install -r requirements.txt
#
Django >= 3.1
psycopg2-binary
whitenoise
#
# django-cas-ng 4.1.1
# https://pypi.org/project/django-cas-ng/
#
# New setting CAS_FORCE_SSL_SERVICE_URL forces the service url to always target HTTPS
# https://djangocas.dev/docs/4.0/changelog.html
#
django-cas-ng
#
# django-import-export is a Django application and library 
# for importing and exporting data in multiple formats (Excel, CSV, JSON, … and everything else that tablib supports) 
# with included admin integration.
# https://django-import-export.readthedocs.io/en/latest/installation.html
#
django-import-export
#
# @shabab7 please review `requirements.txt` 
# for unused packages which would decrease 
# the Web App performances as a whole.
#
#django-filter # in use? — JV conseil, 20200305
#plotly-express # in use? — JV conseil, 20200305
#mpld3 # in use? — JV conseil, 20200305
#jinja2 # in use? — JV conseil, 20200305
#matplotlib # in use? — JV conseil, 20200305
#django-group-by # in use? — JV conseil, 20200305
django_pandas
#xlrd
#
# rake-nltk
# Loading Rake NTLK from GitHub master
# fresher version than Python lib on 
# https://pypi.org/project/rake-nltk/
#
scikit-learn
nltk
# git+git://github.com/csurfer/rake-nltk
# git+https://github.com/csurfer/rake-nltk.git#egg=rake-nltk
git+https://github.com/sdurioanalytics/rake-nltk#egg=rake-nltk
#
# Rake NLP
#
#git+git://github.com/JV-conseil-Internet-Consulting/rake-nlp
#
# A little Django app that uses py-moneyed to add support for Money fields in your models and forms.
django-money
# spaCy is a free open-source library for Natural Language Processing in Python. It features NER, POS tagging, dependency parsing, word vectors and more.
#spacy
# 
# SuperuserRequiredMixin 
# This is specifically for requiring a user to be a superuser. 
# Comes in handy for tools that only privileged users should have access to.
# https://django-braces.readthedocs.io/en/latest/access.html#superuserrequiredmixin
#
django-braces
#
# Cripsy Forms
# src: https://django-crispy-forms.readthedocs.io/en/latest/install.html#installing-django-crispy-forms
#
django-crispy-forms
#
# django-crontab
# src: https://github.com/kraiz/django-crontab/tree/978a26d547f1004ee286d08e31625bfbcee28811
# doc: https://gutsytechster.wordpress.com/2019/06/24/how-to-setup-a-cron-job-in-django/
#
#git+git://github.com/kraiz/django-crontab
#
# Django APScheduler
# little wrapper around APScheduler enables storing persistent jobs in the database
# src: https://github.com/jarekwg/django-apscheduler
#
# git+git://github.com/jarekwg/django-apscheduler
# git+https://github.com/jarekwg/django-apscheduler.git#egg=django-apscheduler
git+https://github.com/sdurioanalytics/django-apscheduler#egg=django-apscheduler
#
# Azure Key Vault libraries for Python
# https://docs.microsoft.com/en-us/python/api/overview/azure/key-vault?view=azure-python
# https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/keyvault/azure-keyvault-secrets
#
azure-keyvault-secrets == 4.0.0
azure-identity == 1.0.1
#
# Application Insights
# Azure Monitor for your Python application
# OpenCensus Django Integration
# https://github.com/census-instrumentation/opencensus-python/tree/master/contrib/opencensus-ext-django
# https://docs.microsoft.com/fr-fr/azure/azure-monitor/app/opencensus-python#instrument-with-opencensus-python-sdk-for-azure-monitor
#
opencensus-ext-azure
opencensus-ext-django
opencensus-ext-postgresql
opencensus-ext-logging
#
# django-pipeline
# https://django-pipeline.readthedocs.io/en/latest/installation.html
#
#django-pipeline
#
# A good way to keep the track of the number of executed queries is using the Django Debug Toolbar.
# https://django-debug-toolbar.readthedocs.io/en/latest/installation.html
django-debug-toolbar
#
# Use isort to automate import sorting
# https://github.com/timothycrosley/isort#installing-isort
#
# isort >= 5.4.2
git+https://github.com/timothycrosley/isort#egg=isort
#
# Pylint is a Python static code analysis tool which looks for programming errors, 
# helps enforcing a coding standard, sniffs for code smells and offers simple refactoring suggestions.
# https://pypi.org/project/pylint/
# 
pylint
#
# googletrans
# https://pypi.org/project/googletrans/
#
# git+git://github.com/ssut/py-googletrans
# git+git://github.com/JV-conseil-Internet-Consulting/py-googletrans
# git+https://github.com/JV-conseil-Internet-Consulting/py-googletrans.git#egg=py-googletrans
googletrans >= 3.0.0
# google-cloud-translate==2.0.0
# 
# Translate is a simple but powerful translation tool written in python with with support for multiple translation providers. 
# By now we are integrated with Microsoft Translation API and Translated MyMemory API
# https://pypi.org/project/translate/
# translate
#
# requests.exceptions.ConnectionError: ('Connection aborted.', ConnectionResetError(54, 'Connection reset by peer'))
# https://stackoverflow.com/a/38854398/2477854
# pyopenssl
# ndg-httpsclient
# pyasn1
# 
python-docx
